<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Pacman Alimentos - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>PACMAN ALIMENTOS</h1>
        
        <div class="description">
            ¡Bienvenido al Reto Pacman! Coloca tu nombre y número de teléfono para comenzar a jugar y competir por los mejores puntajes. Puedes jugar tantas veces como quieras.
        </div>

        <div class="buttons-container">
            <a href="{{ url_for('registro') }}" class="button">EMPEZAR JUEGO</a>
            <a href="{{ url_for('tabla_posiciones') }}" class="button">TABLA DE POSICIONES</a>
        </div>
    </div>
</body>
</html> 